.category-menu{

}

.category-menu__item{
    margin: 2rem;
    position: relative;
    width: 20%;
}

.category-menu__link{
    background: linear-gradient(to bottom, #2B2B36, #1C1C25);
    border: .3rem solid #404048;
    border-radius: 1rem;
    box-shadow: #0f1119 0rem 2rem 2rem -1rem;
    display: block;
    position: relative;
}

.category-menu__video{
    border-radius: 1rem;
    position: absolute;
    width: 100%;
}

.category-menu__img{
    width: 100%;
}